body {
    background-color: powderblue;
}
.container {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: white;
}
    
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.dotted {border-style: dotted;}

.left { 
    width: 200px;
    float: left;
}
.content {
    margin-left: 250px;   
}

.rounded-box {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 20px;
}
    
h1.clear {
    clear: both;
}